* {
	margin: 0;
	padding: 0;
	transition: 0.3s;
	box-sizing: border-box;
}
body {
	font-family: arial, helvetica, sans-serif;
	width: 100%;
	max-width: 1000px;
	height: 100%;
	max-height: 1000px;
	background-color: #fff;
	margin: 100px auto;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #e9edef;
	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 1000px;
}

.panel {
	display: flex;
	flex-direction: column;
	text-align: center;	
	background-color: #fff;
	width: 220px;
	height: 320px;
	border-radius: 10px;
	position: relative;
}

.panel:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.panel:hover .panel-header {
	opacity: 0.7;
	transition: 0.2s;
}

.panel:hover .panel-body>h1{
	color: #00BFFF;
	transition: 0.2s;
}

.panel:hover .panel-body>h2{
	color: #00BFFF;
	transition: 0.2s;
}

.panel-header {
	background-color: #80d0ec;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px 10px 0 0;
	height: 72px;
	h2 {
		color: #FFF;
	}
}

.panel-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 250px;
	line-height: 1.4;

	h1 {
		margin: 0;
		padding: 0;
		font-size: 50px;
		font-weight: bold;
	}
	h2 {
		margin: 0;
		padding: 0;
		font-size: 40px;
		font-weight: bold;
	}
	p {
		margin: 0;
		padding: 0;
		font-size: 15px;
		font-weight: bold;
	}
}

.progress-title {
	display: inline-flex;
	justify-content: space-between;
	width: 92%;
	line-height: 1.1;
		span {
			font-size: 20px;
			font-weight: lighter;
		}
}

.bar-item {
	width: 100%;
	max-width: 750px;
	height: 20px;
}

.w3-container {
	height: 100%;
}

#first-progress>.w3-container {
	padding: 0;
	width: 0%;
}

#second-progress>.w3-container {
	padding: 0;
	width: 0%;
}

#third-progress>.w3-container {
	padding: 0;
	width: 0%;
}


#first-panel {
	&:hover{
		~#first-progress>.w3-container {
			width: 50%;
		}
		~#second-progress>.w3-container {
			width: 100%;
		}
		~#third-progress>.w3-container {
			width: 60%;
		}
	}
}

#second-panel {
	&:hover{
		~#first-progress>.w3-container {
			width: 40%;
		}
		~#second-progress>.w3-container {
			width: 10%;
		}
		~#third-progress>.w3-container {
			width: 100%;
		}	
	}
}

#third-panel {
	&:hover{
		~#first-progress>.w3-container {
			width: 100%;
		}
		~#second-progress>.w3-container {
			width: 100%;
		}	
		~#third-progress>.w3-container {
			width: 100%;
		}	
	}
}







@media screen and (min-width: 280px) {
	body {
		min-width: 280px;
	} 	

	.container {
		min-width: 270px;
	}

	.panel {
		width: 200px;
		height: 300px;
		margin: 20px;
	}
	.panel-body {
		height: 220px;
		line-height: 1.1;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 40px;
			font-weight: bold;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 35px;
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 10px;
			font-weight: bold;
		}
	}

	.progress-title {
		display: inline-flex;
		justify-content: space-between;
		width: 92%;
		line-height: 1.1;
			span {
				font-size: 15px;
				font-weight: lighter;
			}
	}

	.bar-item {
		width: 95%;
		height: 10px;
		margin: 5px;
	}

	
}

@media screen and (max-width: 500px) {
	body {
		width: 100%;
		max-width: 500px;
		height: 100%;
		max-height: 1200px;
	} 	

	.container {
		width: 100%;
		max-width: 490px;
		height: 100%;
		max-height: 1100px;
		margin: 0;
	}

	.panel {
		width: 205px;
		height: 305px;
		margin: 20px;
	}
	.panel-body {
		height: 230px;
		line-height: 1.2;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 42px;
			font-weight: bold;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 37px;
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 12px;
			font-weight: bold;
		}
	}

	.progress-title {
		display: inline-flex;
		justify-content: space-between;
		width: 92%;
		line-height: 1.2;
			span {
				font-size: 17px;
				font-weight: lighter;
			}
	}

	.bar-item {
		width: 95%;
		height: 14px;
		margin: 5px;
	}	
}
@media screen and (max-width: 1000px) {
	body {
		width: 100%;
		max-width: 800px;
		height: 100%;
		max-height: 1600px;
	} 	

	.container {
		width: 100%;
		max-width: 780px;
		height: 100%;
		max-height: 1500px;
		margin: 0;
	}

	.panel {
		width: 215px;
		height: 315px;
		margin: 20px;
	}

	.panel-body {
		height: 240px;
		line-height: 1.3;
		h1 {
			margin: 0;
			padding: 0;
			font-size: 45px;
			font-weight: bold;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 40px;
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-weight: bold;
		}
	}

	.progress-title {
		display: inline-flex;
		justify-content: space-between;
		width: 95%;
		line-height: 1.2;
			span {
				font-size: 18px;
				font-weight: lighter;
			}
	}

	.bar-item {
		width: 95%;
		height: 16px;
		margin: 5px;
	}

}
@media screen and (max-width: 1600px) {
	body {
		width: 100%;
		max-width: 800px;
		height: 100%;
		max-height: 1600px;
	} 	

	.container {
		width: 100%;
		max-width: 780px;
		height: 100%;
		max-height: 1500px;
		margin: 0;
	}

	.panel {
		width: 220px;
		height: 320px;
		margin: 20px;
	}

	.panel-body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 250px;
		line-height: 1.4;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 50px;
			font-weight: bold;
		}
		h2 {
			margin: 0;
			padding: 0;
			font-size: 40px;
			font-weight: bold;
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-weight: bold;
		}
	}

	.progress-title {
		display: inline-flex;
		justify-content: space-between;
		width: 92%;
		line-height: 1.1;
			span {
				font-size: 20px;
				font-weight: lighter;
			}
	}

	.bar-item {
		width: 100%;
		max-width: 750px;
		height: 20px;
	}

}

